<!DOCTYPE html>
<html>
<head>
<title> CV Thibault SAYAH  html </title>
<meta charset="UTF-8">
</head>

h1.modif-h1
{
	font-family: 'Press Start 2P', cursive;
	font-weight: 600;
	
}
h1{
	font-size: 25px;
	text-align: center;
	color: #607F00
}

body{
	font-size: 9px;
	font-family: 'Press Start 2P', cursive;
color: #607F00;

background-color: #000000;